
i.mce-i-abt_menu {
	font: normal 25px/1 'dashicons';
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px;
}

#abt_menubutton:hover,
#abt_menubutton.mce-active,
#abt_menubutton:hover *,
#abt_menubutton.mce-active * {
	color: rgb(50, 55, 60);
}
