
/* =====Inline Citation Style===== */

.cite {
	text-decoration : none;
}

.cite-return {
	vertical-align  : text-top;
	font-size       : 0.7em;
	text-decoration : none;
}


/* =====Peer Review Box Style===== */


#abt_PR_boxes h3 {
  cursor: pointer;
  border-bottom: 4px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f5f5f5;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;

}

#abt_PR_boxes h3:hover {
  background: #f1f1f1;
}

#abt_PR_boxes h3:active {
  border-bottom: 1px solid;
  padding-top: 18px;
}

.abt_PR_info {
  display: inline-block;
  float:left;
  width: 30%;
  position: relative;
  top: 0px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
  /*line-height: 14px;*/
  margin-right: 5px;
}

.abt_PR_info strong {
  font-size: 14px;
}

.abt_PR_headshot {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.abt_chat_bubble {
  display: inline-block;
  position: relative;
  width: 64%;
  height: auto;
  min-height: 100px;
  margin-right: 0px;
  margin-left: 0px;
  background: #F6F6F6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 15px;
  border-left: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px #C7C7C7;
}

.abt_chat_bubble:after {
  content: '';
  position: absolute;
  background-color: #F6F6F6;
  width: 20px;
  height: 20px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  margin-top: -15px;
  left: -11px;
  top: 60px;
  border-left: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

@media only screen and (max-width: 620px) {
    .abt_PR_info {
        display:block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .abt_chat_bubble {
      width: 100%;
    }
    .abt_PR_info:before {
      content: '';
      width: 20px;
      height: 20px;
      background-color: #F6F6F6;
      border-right: 1px solid #c7c7c7;
      border-bottom: 1px solid #c7c7c7;
      position: absolute;
      top: -30px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 1;
      
    }
    .abt_chat_bubble:after {
      display: none;
    }