@import 'variables';
@import 'shared/forms';

.input {
    @include input-text;
}

.label {
    display: flex;
    align-items: center;
    font-weight: bold;
    .input {
        margin-left: 15px;
    }
}

.demo {
    padding: 20px 10px;
    background: #f5f5f5;
}

.demo__heading {
    @include noselect;
    margin: 0;
}

.demo__heading--toggle {
    cursor: pointer;
    &:before {
        font-family: dashicons, sans-serif;
        content: '\f140';
    }
    &.demo__heading--toggle--closed {
        &:before {
            content: '\f139';
        }
    }
}

.demo__number {
    font-weight: bold;
    margin-right: 10px;
}

:global {
    .options-page__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a.button-primary {
            font-size: 16px;
            height: 40px;
            line-height: 38px;
        }
    }

    form {
        .postbox {
            margin: 0;
        }
        .abt-submit-row {
            margin-bottom: 20px;
            text-align: right;
        }
        input[type='submit'].button-primary {
            margin-top: 8px;
        }
    }

    .citation-style__container {
        display: flex;
        justify-content: space-between;
    }

    .citation-style__item {
        width: calc(50% - 10px);
        display: flex;
        flex-flow: column nowrap;
        label {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .custom-css__container {
        display: flex;
        flex-wrap: wrap;
        .custom-css__selectors {
            flex: auto;
            width: 400px;
            margin: 12px;
        }
        .CodeMirror {
            flex: auto;
            width: 400px;
            margin: 12px;
            border: 1px solid #e5e5e5;
            height: auto;
        }
        dt {
            font-weight: bold;
        }
        dd {
            line-height: 2em;
            code {
                white-space: nowrap;
            }
        }
    }

    .how-to__container {
        display: flex;
        flex-wrap: wrap;
    }

    .how-to__item {
        flex: auto;
        min-width: 300px;
        width: 500px;
        padding: 0 5px;
    }
}
