@import '_colors';

.icon {
    background: map-get($wp-colors, 'dark-gray-500');
    color: white;
    font-size: 12px;
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    border-radius: 20px;
    line-height: 16px;
    margin-left: 6px;
    text-align: center;
}
