.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > button {
        justify-self: flex-end;
    }

    :global(.components-toggle-control .components-base-control__field) {
        margin: 0;

        :global(.components-toggle-control__label) {
            margin: 0;
        }
    }
}

.right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
