.form {
    width: 550px;
    max-width: calc(100vw - 32px);

    :global .components-notice {
        margin: 0;
        margin-block-end: 10px;
    }
}

.field {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}
