
// TinyMCE editor only
#tinymce
    sup
        top -3px
    #abt-smart-bib
        div
            font-size 0.9em
        h3
            font-size 1.1em
            margin-bottom 5px

.csl-entry
    &.hanging-indent
        text-indent -20px
        padding-left 20px
    .csl-left-margin
        display inline
        padding 0 4px 0 0
        font-weight 600
    .csl-right-inline
        display inline
