@import 'colors'

// TinyMCE editor only
#tinymce
    .abt-cite
        font-size 0.8em
        sup
            top -3px
            font-size 12px
    #abt-footnote
        margin-bottom 28px
        background $light-gray
        padding 10px
        .abt-footnote-heading
            font-weight 600
        .abt-footnote-item
            font-size 12px
            .note-number
                font-weight 600
                margin-right 3px
    #abt-smart-bib
        background $light-gray
        padding 10px
        > div
            font-size 12px
        h3
            font-size 1.1em
            margin-bottom 5px
        .abt-url
            display inline
            margin-left 3px


#abt-footnote
    margin-bottom 1em
    .abt-footnote-heading
        font-weight 600
    .abt-footnote-item
        .note-number
            margin-right 0.5em
            font-weight 600

.csl-entry
    &.hanging-indent
        text-indent -20px
        padding-left 20px
    .csl-left-margin
        display inline
        padding 0 4px 0 0
        font-weight 600
    .csl-right-inline
        display inline
