
.row-container
    display flex
    flex-direction column

    .row
        display flex
        padding 15px 10px 15px 0
        border-right 1px solid $border
        border-left 1px solid $border
        align-items center

    .even
        background-color $light-gray

    .flex1
        flex 1
        padding 0 5px

    .bordered
        border 1px solid $border
        border-bottom 0

    label
        white-space nowrap
        padding 0 10px
