@import 'colors'

// ========== Loading Spinner ===========
.sk-circle
    border 5px solid $f5
    margin-left auto
    margin-right auto
    width 40px
    height 40px
    position relative

    .sk-child
        width 100%
        height 100%
        position absolute
        left 0
        top 0

        &:before
            content ''
            display block
            margin 0 auto
            width 15%
            height 15%
            background-color $555d66
            border-radius 100%
            animation sk-circleBounceDelay 1.2s infinite ease-in-out both

    for num in 2 3 4 5 6 7 8 9 10 11 12
        .sk-circle{num}
            transform 'rotate(%sdeg)' % (30 * (num - 1))
            &:before
                animation-delay '%ss' % (-2.2 + (1 + (num - 1) * .1))


@keyframes sk-circleBounceDelay
    0%,
    100%,
    80%
        transform: scale(0)

    40%
        transform: scale(1)

#abt_reflist
    .inside
        margin 0
#abt-reflist
    .panel
        display flex
        padding 10px 0
        margin-top -6px
        background $f5
        border-bottom 1px solid $border
        border-top 1px solid $border
        clear both
        justify-content space-around
        button.abt-reflist-button
            background 0
            border 0
            border-radius 2px
            color $555
            cursor pointer
            height 30px
            outline 0
            min-width 40px
            $selector = selector()
            &:hover
                box-shadow inset 0 1px 0 $white,0 1px 0 rgba(0,0,0,.08)
                border 1px solid $555d66
            &:active
                @extend {$selector}:hover
                background $ebebeb
                box-shadow inset 0 2px 5px -3px rgba(0,0,0,.3)
            &:disabled
                color $a0a5aa
                pointer-events none
            span
                pointer-events: none
                height 18px
                width 18px
                &.insert-inline
                    transform rotateY(180deg)
                    padding-left 2px
                &.add-reference
                    line-height 22px
                    width 20px
                    padding-right 2px
                &.remove-reference
                    font-weight 900
                    padding-right 2px
                &.hamburger-menu
                    font-size 2em
                    padding 0 8px 6px 0
    #abt-reflist-menu
        display flex
        flex-direction column
        background $f5
        padding 5px 5px 0 5px
        height auto
        align-content flex-end
        border-bottom solid $border 1px
        #style-select
            padding-bottom 10px
            label
                font-size 1.2em
                font-weight 600
        .option-buttons
            margin 0
            .row-btn
                text-align center
                height 40px
                user-select none
                font normal 600 1.2em/40px 'Open Sans', sans-serif
                margin 0 -5px
                border-top solid $border 1px
                border-bottom solid $border 1px
                cursor pointer
                &:hover
                    background darken($f5, 5)
                &:active
                    background darken($f5, 10)
    .abt-card
        border-bottom 1px solid $border
        padding 5px 10px
        cursor pointer
        &:hover
            background $f9
        &.selected
            border-left solid darken($blue, 5) 3px
            padding 5px 10px 5px 7px
    .list
        max-height 1000px
        overflow-y auto
        overflow-x hidden

        .abt-card
            user-select none

    .menu-enter
        max-height 1px
        overflow hidden
        &.menu-enter-active
            transition max-height .2s linear
            max-height 400px

    .menu-leave
        max-height 400px
        &.menu-leave-active
            transition max-height .1s linear
            max-height 1px
            overflow hidden

    .Grid__cell
        cursor pointer
