@import 'colors'
@import 'nib/gradients'

// ========== Loading Spinner ===========
.sk-circle
    border 5px solid $light-gray
    margin-left auto
    margin-right auto
    width 40px
    height 40px
    position relative

    .sk-child
        width 100%
        height 100%
        position absolute
        left 0
        top 0

        &:before
            content ''
            display block
            margin 0 auto
            width 15%
            height 15%
            background-color $dark-gray
            border-radius 100%
            animation sk-circleBounceDelay 1.2s infinite ease-in-out both

    for num in 2..12
        .sk-circle{num}
            transform 'rotate(%sdeg)' % (30 * (num - 1))
            &:before
                animation-delay '%ss' % (-2.2 + (1 + (num - 1) * .1))


@keyframes sk-circleBounceDelay
    0%,
    100%,
    80%
        transform: scale(0)

    40%
        transform: scale(1)

#abt_reflist
    .inside
        margin 0
        width 254px
    &.fixed
        position fixed
        top 98px
        z-index 555
#abt-reflist
    .panel
        display flex
        padding 10px 0
        margin-top -6px
        background $light-gray
        border-bottom 1px solid $border
        border-top 1px solid $border
        clear both
        justify-content space-around
        button.abt-reflist-button
            background 0
            border 0
            border-radius 2px
            color $dark-gray
            cursor pointer
            height 30px
            outline 0
            min-width 40px
            $selector = selector()
            &:hover
                box-shadow inset 0 1px 0 white,0 1px 0 rgba(0,0,0,.08)
                border 1px solid $dark-gray
            &:active
                @extend {$selector}:hover
                background darken($light-gray, 5)
                box-shadow inset 0 2px 5px -3px rgba(0,0,0,.3)
            &:disabled
                color $disabled
                pointer-events none
            span
                pointer-events: none
                height 18px
                width 18px
                &.insert-inline
                    transform rotateY(180deg)
                    padding-left 2px
                &.add-reference
                    line-height 22px
                    width 20px
                    padding-right 2px
                &.remove-reference
                    font-weight 900
                    padding-right 2px
                &.hamburger-menu
                    font-size 2em
                    padding 0 8px 6px 0
                &.pin-reflist.fixed
                    transform rotate(-45deg)

    #abt-reflist-menu
        padding 0 5px
        border-bottom solid $border 1px
        .inner
            display flex
            flex-direction column
            background white
            height auto
            align-content flex-end
            #style-select
                padding 10px
                margin 0 -5px
                background linear-gradient(to bottom, white, lighten($border, 8))
                label
                    font-size 1.2em
                    font-weight 600
    .abt-card
        border-bottom 1px solid $border
        padding 5px 10px
        cursor pointer
        user-select none
        &:hover
            background $light-gray
        &.selected
            border-left solid darken($blue, 5) 3px
            padding 5px 10px 5px 7px
        a
            pointer-events none
            color $font
            text-decoration none
    .list
        max-height 50vh
        overflow-y auto
        overflow-x hidden
        &.uncited
            max-height 20vh

    .group-label
        display flex
        justify-content space-between
        cursor pointer
        text-align center
        background $light-gray
        border-bottom solid $border 1px
        padding 10px
        font-weight bold
        > *
            user-select none
        &:hover
            background darken($light-gray, 5)

        .badge
            background $blue
            color white
            border-radius 600px
            padding 1px 5px
            font-weight bold

    .menu-enter
        max-height 1px
        overflow hidden
        &.menu-enter-active
            transition max-height .2s linear
            max-height 400px

    .menu-leave
        max-height 400px
        &.menu-leave-active
            transition max-height .1s linear
            max-height 1px
            overflow hidden

    .Grid__cell
        cursor pointer
