@import 'colors';
@import 'variables';

.loading {
    box-shadow: map-get($shadows, 'depth-1'), map-get($shadows, 'top-border');
}

.panel {
    display: flex;
    width: 100%;
    padding: 8px 0;
    background: $light-gray;
    box-shadow: map-get($shadows, 'depth-1'), map-get($shadows, 'top-border');
    justify-content: space-around;
}
