{
  "plugins": [
    [
      "@wordpress/babel-plugin-makepot",
      {
        "output": "src/languages/academic-bloggers-toolkit.pot"
      }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "wp.element.createElement",
        "pragmaFrag": "wp.element.Fragment"
      }
    ]
  ],
  "presets": ["@wordpress/default"]
}
