@import 'variables';
@import '_colors';

@import 'shared/forms';

.input {
    @include input-text;
}

.suggestionsContainer {
    box-shadow: map-get($shadows, 'depth-4');
    max-height: 150px;
    overflow-y: auto;

    > ul {
        margin: 0;
    }
}

.suggestion {
    background: white;
    margin: 0;
    padding: 3px;
}

.suggestionHighlighted {
    background: $blue;
    color: white;
    cursor: pointer;
}
