@require '../../../css/collections/colors';
@require '../../../css/collections/variables';
@require '../../../css/collections/shared';

body
    font-family: 'Roboto', sans-serif
    font-weight: 300
    color: $dark-gray
    overflow: hidden
    margin: 0

#abt-root
    background-color: white
    max-height: calc(99vh - 35px)
    box-sizing: border-box

form
    margin: 0

input
    border: 1px solid $border
    background: white
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07)
    color: $dark-gray
    outline: 0
    transition: 50ms border-color ease-in-out
    padding: 5px
    font-size: 1em
    font-weight: 300
    font-family: 'Roboto', sans-serif

    &[type='text']
    &[type='url']
        width: 100%
    &[type='checkbox']
        height: 18px
        width: 18px
        margin: auto 5px
        vertical-align: middle
        -moz-appearance: none
        &:focus
            box-shadow: none

    &:focus
        border-color: rgb(91, 157, 217)
        box-shadow: 0 0 2px rgba(30, 140, 190, .8)
        &:invalid
            box-shadow: 0 0 2px rgba(204,0,0,.8)
            border-color: rgb(220, 50, 50) !important

    &:invalid
        background: rgb(255, 225, 227)
        border: solid rgb(229, 131, 131) 1px
        color: rgb(220, 50, 50)

    &::-moz-focus-inner
        border: 0
        padding: 0
        margin-top: -2px
        margin-bottom: -2px

select
    @extend input
    vertical-align: middle
    margin: 1px
    font-size: 1em
    -moz-appearance: none
    width: 100%
    transition: none

label
    {$noselect}
    white-space: nowrap
    cursor: pointer
    font-size: 0.9em
    font-weight: normal
    &.sublabel
        font-weight: inherit

.abt-scroll-y
    overflow-y: auto
    max-height: calc(100vh - 156px)
    &.autocite
        max-height: calc(100vh - 216px)


.row
    padding: 10px 0
    display: flex
    align-items: center
    > div
        padding: 0 5px
        &:first-of-type
            padding-left: 10px
        &:last-of-type
            padding-right: 10px
        &.flex
            flex: auto
    &.collapse
        padding: 0
    &.column
        flex-direction: column
        > div
            width: 100%
            box-sizing: border-box
            padding: 1px 5px !important

.table
    display: table
    padding: 10px 0
    width: 100%

.table__row
    display: table-row
    > .table__cell:first-of-type
        padding-left: 10px
    > .table__cell:last-of-type
        padding-right: 10px

.table__cell
    display: table-cell

label.uploadLabel
    input[type='file'] // @stylint ignore
        position: fixed
        top: -1000px
    span
        @extend .abt-btn
        @extend .abt-btn_flat
        display: inline-block
        line-height: 36px

.separator
    border-right: solid 2px $border
    height: 30px
    display: inline-block
    margin: 0 10px

.well
    background: $light-gray
    border: 1px solid $border
    border-radius: 2px
    margin: 0 10px
    min-height: 20px
    padding: 3px !important

#button-row
    background: $light-gray
    border-top: solid 1px $border
    margin: 0
    justify-content: space-between

#type-select-row
#autocite
#pubmed-query
    background: $light-gray
    box-shadow: $depth-1

#pagination-row
    @extends #pubmed-query
    justify-content space-between

// ================================
// ResultList.tsx
// ================================

.result-item
    border-bottom: 1px solid $border
    & > div:last-of-type
        padding: 0 8px 4px
        text-align: right
        .abt-btn_submit:first-of-type
            margin-right: 8px
    .result-item--padded
        padding: 0 16px
        &:first-of-type
            padding-top: 16px
            font-size: 14px
            line-height: 18px
            display: flex
            justify-content: space-between
            color: $font-light
        &:nth-of-type(2)
            font-size: 16px
            font-weight: normal
            line-height: 20px
            padding: 8px 16px
        &:nth-of-type(3)
            color: $font-light
            line-height: 18px
            font-size: 14px
            padding-right: 8px
            padding-left: 16px
            display: flex
            justify-content: space-between

// Toggle switch
.toggle-lbl
  position: relative
  display: block
  margin: 0 10px
  height: 20px
  width: 44px
  background: rgb(137, 137, 137)
  border-radius: 100px
  cursor: pointer
  transition: all .3s ease
  &:after
    position: absolute
    left: -2px
    top: -3px
    display: block
    width: 26px
    height: 26px
    border-radius: 100px
    background: white
    box-shadow: 0px 3px 3px rgba(black,.05)
    content: ''
    transition: all .3s ease
  &:active
    &:after
      transform: scale(1.15, .85)

.toggle:checked ~ label
  background: lighten(desaturate($blue, 70%), 20)
  &:after
    left: 20px
    background: $blue

.toggle:disabled ~ label
  background: rgb(213, 213, 213)
  pointer-events: none
  &:after
    background: rgb(188, 189, 188)
