.list {
    margin: -5px -16px -16px;
}

.item {
    display: grid;
    gap: 2px;
    cursor: pointer;
    padding: 8px 16px;
    line-height: 1.6;

    &[aria-selected='true'] {
        border-left: 3px solid #11a0d2;
        border-inline-start: 3px solid #11a0d2;
        border-inline-end: 0;
    }

    &:hover {
        background: #f8f9f9;
    }

    &:focus {
        color: #191e23;
        outline-offset: -2px;
        outline: 1px dotted #555d66;
    }
}
