@import 'colors';
@import 'variables';

.menu-container {
    padding: 5px;
}

.subpanel {
    display: flex;
    justify-content: space-around;
    padding: 4px 0 8px;
    box-shadow: 0 1px 0 rgba(16, 22, 26, 0.15);
}

.style-label {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

// =============== AutoSuggest
// container:                'react-autosuggest__container',
// containerOpen:            'react-autosuggest__container--open',
// input:                    'react-autosuggest__input',
// inputOpen:                'react-autosuggest__input--open',
// inputFocused:             'react-autosuggest__input--focused',
// suggestionsContainer:     'react-autosuggest__suggestions-container',
// suggestionsContainerOpen: 'react-autosuggest__suggestions-container--open',
// suggestionsList:          'react-autosuggest__suggestions-list',
// suggestion:               'react-autosuggest__suggestion',
// suggestionFirst:          'react-autosuggest__suggestion--first',
// suggestionHighlighted:    'react-autosuggest__suggestion--highlighted',
// sectionContainer:         'react-autosuggest__section-container',
// sectionContainerFirst:    'react-autosuggest__section-container--first',
// sectionTitle:             'react-autosuggest__section-title'

.input {
    composes: large-text from global;
    height: 28px;
    &[data-invalid='true'] {
        border-color: #dc3232 !important;
        box-shadow: 0 0 2px rgba(204, 0, 0, 0.8);
    }
}

.suggestionsContainer {
    box-shadow: map-get($shadows, 'depth-4');
    max-height: 150px;
    overflow-y: auto;
    > ul {
        margin: 0;
    }
}

.suggestion {
    background: white;
    margin: 0;
    padding: 3px;
}

.suggestionHighlighted {
    background: $blue;
    color: white;
    cursor: pointer;
}
