.fieldset {
    display: flex;
    flex-wrap: nowrap;
    min-height: 30px;
    align-items: center;
}

.legend {
    display: inline;
    font-weight: bold;
    margin-right: 10px;
}

.item-container {
    display: flex;
    width: 100px;
    flex: auto;
    flex-wrap: wrap;
}

.item {
    margin: 0 10px;
    display: flex;
    align-items: center;
    > input[type='radio'] {
        margin: 0 4px 0 0;
    }
}

.item--disabled {
    cursor: not-allowed;
    color: rgba(92, 112, 128, 0.5);
}
