@import '_legacy/colors';
@import '_legacy/variables';

.action-bar {
    display: flex;
    padding: 10px;
    align-items: center;
    background: $light-gray;
    box-shadow: map-get($shadows, 'top-border'),
        map-get($shadows, 'bottom-border');
    border-radius: 0 0 2px 2px;
    margin: 0;
    justify-content: space-between;
}

.align-right {
    justify-content: flex-end;
}

.separator {
    border-right: solid 2px $border;
    height: 30px;
    display: inline-block;
}
