@import '_legacy/variables';

.toggle {
    span {
        position: relative;
        display: block;
        margin: 5px;
        height: 20px;
        width: 44px;
        background: #898989;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:after {
            position: absolute;
            left: -2px;
            top: -3px;
            display: block;
            width: 26px;
            height: 26px;
            border-radius: 100px;
            background: #fff;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
            content: '';
            transition: all 0.3s ease;
        }

        &:active:after {
            -webkit-transform: scale(1.15, 0.85);
            transform: scale(1.15, 0.85);
        }
    }

    input {
        opacity: 0 !important;
        pointer-events: none;
        position: absolute;
        z-index: 1;

        &:checked + span {
            background: #6f9eb1;
        }

        &:checked + span:after {
            left: 20px;
            background: #0085ba;
        }

        &:disabled + span {
            background: #d5d5d5;
            pointer-events: none;
        }

        &:disabled + span:after {
            background: #bcbdbc;
        }

        &:focus + span {
            outline: $outline;
            outline-width: 1.1px;
            outline-style: solid;
            outline-offset: 5px;
            transition: none;
        }

        &:disabled:checked + span {
            background: #6f9eb1;
            opacity: 0.7;
        }

        &:disabled:checked + span:after {
            background: #0085ba;
            opacity: 0.7;
        }
    }
}
