.icon {
    background: #555d66;
    color: white;
    font-size: 12px;
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    border-radius: 20px;
    line-height: 16px;
    margin-left: 6px;
    margin-inline: 6px 0;
    text-align: center;
}
