.wrap
    h2
        - _e("Academic Blogger's Toolkit Options", 'academic-bloggers-toolkit')
    #poststuff
        #post-body.metabox-holder
            #post-body-content
                .meta-box-sortables.ui-sortable
                    .postbox
                        h3
                            - _e('Please send your feedback!', 'academic-bloggers-toolkit')
                        .inside
                            | <?php _e('If you experience a bug or would like to request a new feature, please visit the ', 'academic-bloggers-toolkit') ?><a href='https://github.com/dsifford/academic-bloggers-toolkit' target='_blank'> <?php _e('GitHub Repository', 'academic-bloggers-toolkit') ?></a><?php _e('and submit an issue. I\'ll do my best to get it handled in a timely manner. Comments can also be sent to me on twitter ', 'academic-bloggers-toolkit') ?><a href='http://www.twitter.com/flightmed1' target='_blank'>@flightmed1</a>.
                    .postbox
                        h3
                            - _e('Preferred Citation Style', 'academic-bloggers-toolkit')
                        .inside
                            form(method='post', name='abt_citation_style_form')
                                input(type='hidden', name='abt_citation_style_form_submitted', value='Y')
                                select#abt_citation_style(name='abt_citation_style')
                                    each value, key in this.citation_styles
                                        | <option value="<?php echo $value['value'] ?>" <?php selected($selected_style, $value['value']); ?>><?php echo $value['label'] ?></option>
                                input.button-primary(type='submit', name='abt_citation_style_submit', value='Update')
                    .postbox
                        h3
                            - _e('Display Options', 'academic-bloggers-toolkit')
                        .inside
                            form(method='post', name='abt_display_options_form', value='Y')
                                input(type='hidden', name='abt_display_options_form_submitted', value='Y')
                                table(style='width: 100%;')
                                    tr
                                        td(style='width: 25%;')
                                            label(for='abt_bibliography_display')
                                                - _e('The bibliography should', 'academic-bloggers-toolkit')
                                        td(style='width: 75%;')
                                            select(name='abt_bibliography_display', style='width: 100%;')
                                                | <option value="fixed" <?php selected($selected_bib_display, 'fixed'); ?>><?php _e('be fixed on the page', 'academic-bloggers-toolkit') ?></option>
                                                | <option value="toggle" <?php selected($selected_bib_display, 'toggle'); ?>><?php _e('toggle on click', 'academic-bloggers-toolkit') ?></option>
                                    tr
                                        td(style='width: 25%;')
                                            label(for='abt_PR_display')
                                                - _e('The peer review boxes should', 'academic-bloggers-toolkit')
                                        td(style='width: 75%;')
                                            select(name='abt_PR_display', style='width: 100%;')
                                                | <option value="toggle" <?php selected($selected_PR_box_display, 'toggle'); ?>><?php _e('toggle on click', 'academic-bloggers-toolkit') ?></option>
                                                | <option value="fixed" <?php selected($selected_PR_box_display, 'fixed'); ?>><?php _e('be fixed on the page', 'academic-bloggers-toolkit') ?></option>
                                    tr
                                        td(style='width: 25%;')
                                            label(for='abt_link_display')
                                                - _e('Clickable links should be included in the bibliography', 'academic-bloggers-toolkit')
                                        td(style='width: 75%;')
                                            select(name='abt_link_display', style='width: 100%;')
                                                | <option value="always" <?php selected($selected_link_display, 'always'); ?>><?php _e('whenever possible', 'academic-bloggers-toolkit') ?></option>
                                                | <option value="urls" <?php selected($selected_link_display, 'urls'); ?>><?php _e('when the citation has a visible URL', 'academic-bloggers-toolkit') ?></option>
                                                | <option value="never" <?php selected($selected_link_display, 'never'); ?>><?php _e('never', 'academic-bloggers-toolkit') ?></option>
                                    tr
                                        td(style='width: 25%;')
                                            label(style='white-space: nowrap;', for='abt_bib_heading')
                                                - _e('The heading for bibliographies should be', 'academic-bloggers-toolkit')
                                        td(style='width: 75%;')
                                            input.large-text(type='text', name='abt_bib_heading', value=!{bib_heading})
                                    tr
                                        td(colspan='2', style='text-align: right;')
                                            input.button-primary(type='submit', name='abt_display_options_submit', value='Update')
                    .postbox
                        h3
                            - _e('Override CSS', 'academic-bloggers-toolkit')
                        table.form-table
                            tr(valign='top')
                                td(scope='row', width='50%')
                                    form(method='post', name='abt_custom_css_editor_form')
                                        input(type='hidden', name='abt_custom_css_editor_form_submitted', value='Y')
                                        textarea.large-text(name='abt_custom_css_editor', cols='80', rows='10', style='font-family: monospace;')
                                            != abt_saved_css
                                        br
                                        input.button-primary(type='submit', name='abt_custom_css_submit', value='Update')
                                td(width='50%', style='vertical-align: top;')
                                    table
                                        tr
                                            th(colspan='2')
                                                - _e('CSS Selectors used in this plugin', 'academic-bloggers-toolkit')
                                        tr
                                            td
                                                strong
                                                    - _e('Inline Citations:', 'academic-bloggers-toolkit')
                                            td
                                                code .abt-cite
                                        tr
                                            td
                                                strong
                                                    - _e('Peer Review Boxes:', 'academic-bloggers-toolkit')
                                            td
                                                code abt-PR-heading, .abt-PR-info, .abt-PR-headshot, .abt-chat-bubble
                                        tr
                                            td
                                                strong
                                                    - _e('Citation Tooltips:', 'academic-bloggers-toolkit')
                                            td
                                                code .abt_tooltip, .abt_tooltip_arrow, .abt_tooltip_touch_close
                                        tr
                                            td
                                                strong
                                                    - _e('Bibliography:', 'academic-bloggers-toolkit')
                                            td
                                                code #abt-smart-bib, #abt-smart-bib h3, #abt-smart-bib > div, .abt-url
                                        tr
                                            td
                                                strong
                                                    - _e('Footnotes', 'academic-bloggers-toolkit')
                                            td
                                                code #abt-footnote, .abt-footnote-heading, .abt-footnote-item, .abt-footnote-number
                    .postbox
                        h3
                            - _e('How do I', 'academic-bloggers-toolkit')
                            | ...
                        .inside
                            div(style='display: flex; flex-wrap: wrap;')
                                div(style='flex: 1; min-width: 300px; padding: 0 5px;')
                                    strong
                                        - _e('Make my tooltips a different color?', 'academic-bloggers-toolkit')
                                    | <p data-height="300" data-theme-id="dark" data-slug-hash="pboYoZ" data-default-tab="result" data-user="dsifford" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/dsifford/pen/pboYoZ/">pboYoZ</a> by Derek Sifford (<a href="http://codepen.io/dsifford">@dsifford</a>) on <a href="http://codepen.io">CodePen</a>.</p><script async src="//assets.codepen.io/assets/embed/ei.js"></script>
                                div(style='flex: 1; min-width: 300px; padding: 0 5px;')
                                    strong
                                        - _e('Apply style to the bibliography list?', 'academic-bloggers-toolkit')
                                    | <p data-height="300" data-theme-id="dark" data-slug-hash="JKjzGj" data-default-tab="result" data-user="dsifford" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/dsifford/pen/JKjzGj/">Bibliography</a> by Derek Sifford (<a href="http://codepen.io/dsifford">@dsifford</a>) on <a href="http://codepen.io">CodePen</a>.</p><script async src="//assets.codepen.io/assets/embed/ei.js"></script>
                                div(style='flex: 1; min-width: 300px; padding: 0 5px;')
                                    strong
                                        - _e('Change the style of the peer review boxes?', 'academic-bloggers-toolkit')
                                    | <p data-height="300" data-theme-id="dark" data-slug-hash="ezYXzX" data-default-tab="result" data-user="dsifford" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/dsifford/pen/ezYXzX/">Peer Review Boxes</a> by Derek Sifford (<a href="http://codepen.io/dsifford">@dsifford</a>) on <a href="http://codepen.io">CodePen</a>.</p><script async src="//assets.codepen.io/assets/embed/ei.js"></script>
