.item {
    margin-left: 1em;
    margin-inline: 1em 0;
}

.button-list {
    $icon-size: 15px;
    $padding: 6px;

    display: grid;
    opacity: 0;

    button {
        padding: $padding;
        overflow: visible;

        &:disabled {
            cursor: not-allowed;
        }

        svg {
            width: $icon-size;
            height: $icon-size;
        }
    }
}

.row {
    display: grid;
    grid-template-columns: 100% min-content;
    gap: 20px;
    align-items: flex-start;

    &:hover {
        .button-list {
            opacity: 1;
        }
    }
}
