.callout {
    border-radius: 3px;
    padding: 10px 12px 9px;
    line-height: 1.5;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}
.heading {
    display: flex;
    justify-content: space-between;
    h5 {
        margin: 0 0 5px 0;
        line-height: 20px;
        font-weight: 600;
        padding: 0;
        font-size: 17px;
    }
    button {
        margin: -5px -5px 0 0;
    }
}
.danger {
    background-color: rgba(219, 55, 55, 0.15);
    h5 {
        color: #c23030;
    }
}
.warning {
    background-color: rgba(217, 130, 43, 0.15);
    h5 {
        color: #bf7326;
    }
}
