.cite {
	text-decoration : none;
}

.cite-return {
	vertical-align  : text-top;
	font-size       : 0.7em;
	text-decoration : none;
}

.PR_info {
  display: inline-block;
  float:left;
  width: 30%;
  position: relative;
  top: 0px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
  line-height: 14px;
  margin-right: 5px;
}

.PR_info strong {
  font-size: 14px;
}

.PR_headshot {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.chat_bubble {
  display: inline-block;
  position: relative;
  width: 64%;
  height: auto;
  min-height: 100px;
  margin-right: 0px;
  margin-left: 0px;
  background: #F6F6F6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 15px;
  border-left: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px #C7C7C7;
}

.chat_bubble:after {
  content: '';
  position: absolute;
  background-color: #F6F6F6;
  width: 20px;
  height: 20px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  margin-top: -15px;
  left: -11px;
  top: 60px;
  border-left: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
 

@media only screen and (max-width: 620px) {
    .PR_info {
        display:block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .chat_bubble {
      width: 100%;
    }
    .PR_info:before {
      content: '';
      width: 20px;
      height: 20px;
      background-color: #F6F6F6;
      border-right: 1px solid #c7c7c7;
      border-bottom: 1px solid #c7c7c7;
      position: absolute;
      top: -30px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 1;
      
    }
    .chat_bubble:after {
      display: none;
    }

.refbox_title {
	background: #f5f5f5; 
	display: inline-block; 
	padding: 10px; 
	margin-bottom: -1px; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	border: solid #D0D0D0 1px; 
	border-bottom: none;
}

.refbox {
	background: #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	border: solid #D0D0D0 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
