.btn-row {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 18px !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
}

.contributor {
    display: flex;
    align-items: center;

    input[type='text'] {
        flex: auto;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
    }
}
