.tooltip {
    pointer-events: none;
    transform-origin: top center;
    z-index: 1000;
    background: rgba(66, 66, 66, 0.9);
    border-radius: 2px;
    color: white;
    display: inline-block;
    visibility: hidden;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    position: absolute;
    padding: 8px;
    text-align: center;
    max-width: 170px;
}

.tooltip--active {
    composes: tooltip;
    visibility: visible;
}
