.heading {
    display: flex;
    margin: 0;
    width: 100%;
    overflow: hidden;

    input {
        color: inherit;
        font-size: inherit;
        margin: inherit;
        padding: inherit;
        border: 0;
        max-width: 100%;

        &:focus {
            outline: 0;
        }
    }
}

:global {
    .abt-bibliography {
        summary {
            display: flex;
            align-items: center;
        }

        &__body {
            font-size: 0.8em;
            list-style-type: none;
            display: table;
        }
    }

    .csl-entry {
        display: table-row;
    }

    .csl-left-margin,
    .csl-right-inline {
        display: table-cell;
    }

    .csl-left-margin {
        padding-right: 10px;
        text-align: right;
    }
}
