.heading {
    display: flex;
    margin: 0;
    width: 100%;
    overflow: hidden;

    input {
        color: inherit;
        font-size: inherit;
        margin: inherit;
        padding: inherit;
        border: 0;
        max-width: 100%;

        &:focus {
            outline: 0;
        }
    }
}

.summary {
    display: flex;
    align-items: center;
}

.body {
    font-size: 0.8em;
    display: table;

    :global {
        .csl-entry {
            display: block;
        }

        .csl-left-margin,
        .csl-right-inline {
            display: table-cell;
        }

        .csl-left-margin {
            padding-right: 10px;
            text-align: right;
        }
    }
}
