@import 'colors'
@import 'variables'

// Main metabox container
#abt-reflist
    transition: $shadow-transition
    h2.hndle
        box-shadow: $depth-1
    .inside
        margin: 0
        width: 254px
    &.fixed
        position: fixed
        box-shadow: $depth-4
        border: solid $border 1px
        z-index: 555
