@import 'colors'
@import 'variables'

// Main metabox container
#abt-reflist
    transition: $shadow-transition
    h2.hndle
        box-shadow: $depth-1
    .inside
        margin: 0
        width: 254px
    &.fixed
        position: fixed
        box-shadow: $depth-4
        border: solid $border 1px
        z-index: 555


// React Root
#abt-reflist__root .abt-spinner
    background: $light-gray
    box-shadow: $depth-1

// Menu
.abt-reflist-menu
    position: relative
    z-index: 555


// Panels
.abt-panel
    display: flex
    width: 100%
    padding: 8px 0
    background: $light-gray
    box-shadow: $depth-1
    justify-content: space-around

.abt-panel_subpanel
    background: inherit
    box-shadow: inherit
    display: flex
    padding: 5px 0
    justify-content: space-around

// ItemList
.abt-item-heading
    display: flex
    justify-content: space-between
    cursor: pointer
    background: $light-gray
    box-shadow: $depth-1
    padding: 10px
    transition: $button-transition
    align-items: baseline
    user-select: none
    &:hover
        background: darken($light-gray, 3)
    &:active
        background: darken($light-gray, 8)

.abt-item-heading__badge
    background: $blue
    color: white
    height: 10px
    border-radius: @height
    line-height: @height
    min-width: @height
    text-align: center
    border: 5px solid $blue
