@import 'colors'
@import 'variables'

// Main metabox container
#abt-reflist
    transition: $shadow-transition
    h2.hndle
        box-shadow: $depth-1
    .inside
        margin: 0
        width: 254px
    &.fixed
        position: fixed
        box-shadow: $depth-4
        border: solid $border 1px
        z-index: 555


// React Root
#abt-reflist__root .abt-spinner
    background: $light-gray
    box-shadow: $depth-1

// Menu
.abt-reflist-menu
    position: relative
    z-index: 555


// Panels
.abt-panel
    display: flex
    width: 100%
    padding: 8px 0
    background: $light-gray
    box-shadow: $depth-1
    justify-content: space-around

.abt-panel_subpanel
    background: inherit
    box-shadow: inherit
    display: flex
    padding: 5px 0
    justify-content: space-around

// ItemList
.abt-item-heading
    display: flex
    justify-content: space-between
    cursor: pointer
    background: $light-gray
    box-shadow: $depth-1
    padding: 10px
    transition: $button-transition
    align-items: baseline
    user-select: none
    &:hover
        background: darken($light-gray, 3)
    &:active
        background: darken($light-gray, 8)

.abt-item-heading__badge
    background: $blue
    color: white
    height: 10px
    border-radius: @height
    line-height: @height
    min-width: @height
    text-align: center
    border: 5px solid $blue


// Cards
.abt-card
    border-bottom: 1px solid $border
    padding: 5px 10px
    cursor: pointer
    font-weight: 300
    user-select: none

.abt-card_selected
    border-left: solid darken($blue, 5) 3px
    padding: 5px 10px 5px 7.5px

.abt-card__people
    font-size: 0.8em
    font-weight: 500

.abt-card__meta-container
    display: flex
    font-size: 0.8em
    justify-content: space-between
    white-space: nowrap

.abt-card__date
    padding-right: 3px

.abt-card__source
    padding: 0 3px
    font-style: italic
    text-overflow: ellipsis
    overflow: hidden

.abt-card__pages
    padding-left: 3px
