.csl-entry {
    a {
        word-break: break-all;

        @at-root .wp-admin & {
            pointer-events: none;
        }
    }
}

.csl-left-margin {
    display: table-cell;
    padding-right: 0.5em;
    padding-inline: 0 0.5em;
    text-align: right;
}

.csl-right-inline {
    display: table-cell;
}

.abt-static-bib .abt-bibliography__body {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.abt-bibliography .abt-bibliography__body {
    display: grid;
    font-size: 1rem;
    padding: 0;
    margin: 0;

    li {
        display: block;
        display: contents;
    }

    &[data-hangingindent] .csl-entry {
        padding-left: 1.5em;
        padding-inline: 1.5em 0;
        text-indent: -1.5em;
    }

    &[data-hangingindent='false'] .csl-entry {
        padding-left: inherit;
        padding-inline: inherit;
        text-indent: inherit;
    }

    @for $i from 1 through 3 {
        &[data-entryspacing='#{$i}'] {
            gap: $i * 1em;
        }

        &[data-hangingindent='#{$i}'] .csl-entry {
            padding-left: $i - 0.5em;
            padding-inline: ($i - 0.5em) 0;
            text-indent: -($i - 0.5em);
        }

        &[data-linespacing='#{$i}'] {
            line-height: $i + 0.3;
        }
    }
}

summary .abt-bibliography__heading {
    display: inline-flex;
    width: calc(100% - 1em);
}
