@require 'collections/colors'
@require 'collections/variables'
@require 'collections/shared'
@require 'citations'

// @stylint off
h1, h2, h3, h4, h5, h6
    font-weight: 500

.wp-editor-expand div.mce-toolbar-grp
    z-index: initial

#abt-reflist
    transition: $shadow-transition
    h2.hndle
        box-shadow: $depth-1
    .inside
        margin: 0
        width: 254px
    &.fixed
        position: fixed
        box-shadow: $depth-4
        border: solid $border 1px
        z-index: 555

.is-focused:not(.is-open) > .Select-control
    border-color: $border !important
    box-shadow: none !important

.VirtualizedSelectFocusedOption
    background-color: $light-gray !important

#wp-content-editor-tools
    z-index: 5 !important

#HW_badge_cont
    display: inline-block !important
    height: auto !important
    top: -2px
    line-height: 1.4em
    #HW_badge
        position: relative
        top: 0
        &.HW_softHidden
            top: 5px
// @stylint on
