@require 'collections/variables'
@require 'collections/colors'

.abt-citation
    noselect()
    display: inline-block
    white-space: nowrap
    cursor: pointer
    sup, sub
        font-size: 75%
        line-height: 0
        position: relative
        vertical-align: baseline
    sup
        top: -0.5em
    sub
        bottom: -0.25em

.abt-footnote
    margin-bottom: 1em
.abt-footnote__heading
    font-weight: 600
.abt-footnote__number
    margin-right: 0.5em
    font-weight: 600

.abt-url
    display: inline

.csl-entry
    &.hanging-indent
        .csl-right-inline
            padding-left: 25px
            text-indent: -25px
    &.flush
        display: table-row
        .csl-left-margin
            display: table-cell
            text-align: right
        .csl-right-inline
            word-wrap()
            display: table-cell
    &.margin
        display: flex
        justify-content: flex-end
        .csl-right-inline
            word-wrap()
            min-width: 100%
    .csl-left-margin
        padding: 0 8px 0 0
        font-weight: 600


// TinyMCE editor only
#tinymce
    .abt-citation
        font-size: 0.8em
        sup
            display: inline-block
            top: -3px
            font-size: 12px
    .abt-citation__broken
        color: red
        font-weight: bold
    .abt-footnote
        margin-bottom: 28px
        background: $light-gray
        padding: 10px
    .abt-footnote__item
        font-size: 12px
    .abt-bibliography
    .abt-static-bib
        display: table
        background: $light-gray
        padding: 10px
        > div
            font-size: 12px
        .abt-bibliography__heading
        .abt-static-bib__heading
            font-size: 1.1em
            margin-bottom: 5px
        .abt-url
            margin-left: 3px
    // Unsets the "margin" style for tinymce since it doesn't look right
    .csl-entry.margin
        display: table-row
        .csl-left-margin
            display: table-cell
            text-align: right
        .csl-right-inline
            display: table-cell

body:not(#tinymce)
    .abt-bibliography__heading_toggle
        margin-left: -30px
        user-select: none
        &:hover
            cursor: pointer
        &:before
            content: '\f140'
            font-family: 'dashicons'
            position: relative
            font-size: 30px
            top: 5px
    .abt-bibliography__heading_toggle--closed:before
        content: '\f139'
