.label {
    margin-right: 10px;
}

.select {
    flex: auto;
}

.type-select {
    display: flex;
    padding: 10px;
    align-items: center;
}

.scroll-boundary {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-boundary--autocite {
    composes: scroll-boundary;
    max-height: calc(100vh - 250px);
}
