$blue = #0085ba
$border = rgba(0, 0, 0, .12)
$dark-gray = #555
$disabled = #a0a5aa
$font = #444
$font-light = rgba(0, 0, 0, .54)
$light-gray = #f5f5f5
$tooltip-gray = rgba(66, 66, 66, 0.9)

$spinner = {
    first: #4285F4,
    second: #DE3E35,
    third: #F7C223,
    fourth: #1B9A59
}
