$blue = #0085ba
$border = rgba(0, 0, 0, .12)
$dark-gray = #555
$disabled = #a0a5aa
$font = #444
$font-light = rgba(0, 0, 0, .54)
$light-gray = #f5f5f5
$tooltip-gray = rgba(66, 66, 66, 0.9)

$spinner = {
    first: #4285F4,
    second: #DE3E35,
    third: #F7C223,
    fourth: #1B9A59
}

$wordpress = {
    focus: {
        valid: {
            border: #5b9dd9,
            shadow: 0 0 2px rgba(30, 140, 190, .8),
        },
        invalid: {
            border: #dc3232,
            shadow: 0 0 2px rgba(204,0,0,.8),
        },
    },
    invalid: {
        background: #ffe1e3,
        border: #E58383,
        color: #dc3232,
    },
}
