.wrap
    h2
        - _e("Academic Blogger's Toolkit Options", 'academic-bloggers-toolkit')
    #poststuff
        #post-body.metabox-holder
            #post-body-content
                .meta-box-sortables.ui-sortable
                    .postbox
                        h3
                            - _e('Please send your feedback!', 'academic-bloggers-toolkit')
                        .inside
                            - printf(__("If you experience a bug or would like to request a new feature, please visit the <a href='%s' target='_blank'>GitHub Repository</a> and submit an issue. I'll do my best to get it handled in a timely manner. Comments may also be sent to me on twitter ", 'academic-bloggers-toolkit'), 'https://github.com/dsifford/academic-bloggers-toolkit')
                            a(href='http://www.twitter.com/flightmed1' target='_blank') @flightmed1
                    .postbox
                        h3
                            - _e('Default Citation Style', 'academic-bloggers-toolkit')
                        .inside
                            form(method='post', name='citation_style_form')
                                table(style='width: 100%;')
                                    tr
                                        th(style='width: 50%;')
                                            label
                                                | <input type="radio" name="citation_style_prefer_custom" value='' <?php checked($citation_style_prefer_custom, false) ?> />
                                                - _e('Use a predefined citation style by default', 'academic-bloggers-toolkit')
                                        th(style='width: 50%;')
                                            label
                                                | <input type="radio" name="citation_style_prefer_custom" value='true' <?php checked($citation_style_prefer_custom, true) ?> />
                                                - _e('Use custom citation style by default ', 'academic-bloggers-toolkit')
                                                a(href='https://github.com/dsifford/academic-bloggers-toolkit#using-a-custom-citation-style', target='_blank') [?]
                                    tr
                                        td
                                            select#abt_citation_style(name='citation_style_style', style='width: 100%;', aria-label='select predefined citation style')
                                                each value, key in this.citation_styles
                                                    | <option value="<?php echo $value['value'] ?>" <?php selected($citation_style_style, $value['value']); ?>><?php echo $value['label'] ?></option>
                                        td
                                            input.large-text(type='text', name='citation_style_custom_url', aria-label='url to custom citation style', value=!{citation_style_custom_url})
                                    tr
                                        td(colspan='2', style='text-align: right;')
                                            input.button-primary(type='submit', name='citation_style_options', value='Update', aria-label='Update citation options submit')
                    .postbox
                        h3
                            - _e('Display Options', 'academic-bloggers-toolkit')
                        .inside
                            form(method='post', name='display_options_form')
                                table(style='width: 100%;')
                                    tr
                                        td(style='width: 25%;')
                                            label(for='display_options_bibliography')
                                                - _e('The bibliography should', 'academic-bloggers-toolkit')
                                        td(style='width: 75%;')
                                            select(name='display_options_bibliography', id='display_options_bibliography' style='width: 100%;')
                                                | <option value="fixed" <?php selected($display_options_bibliography, 'fixed'); ?>><?php _e('be fixed on the page', 'academic-bloggers-toolkit') ?></option>
                                                | <option value="toggle" <?php selected($display_options_bibliography, 'toggle'); ?>><?php _e('toggle on click', 'academic-bloggers-toolkit') ?></option>
                                    tr
                                        td(style='width: 25%;')
                                            label(for='display_options_links')
                                                - _e('Clickable links should be included in the bibliography', 'academic-bloggers-toolkit')
                                        td(style='width: 75%;')
                                            select(name='display_options_links', id='display_options_links', style='width: 100%;')
                                                | <option value="always" <?php selected($display_options_links, 'always'); ?>><?php _e('whenever possible', 'academic-bloggers-toolkit') ?></option>
                                                | <option value="urls" <?php selected($display_options_links, 'urls'); ?>><?php _e('when the citation has a visible URL', 'academic-bloggers-toolkit') ?></option>
                                                | <option value="never" <?php selected($display_options_links, 'never'); ?>><?php _e('never', 'academic-bloggers-toolkit') ?></option>
                                    tr
                                        td(style='width: 25%;')
                                            label(style='white-space: nowrap;', for='display_options_bib_heading')
                                                - _e('The heading for bibliographies should be', 'academic-bloggers-toolkit')
                                        td(style='width: 75%;')
                                            input.large-text(type='text', name='display_options_bib_heading', id='display_options_bib_heading', value=!{display_options_bib_heading})
                                    tr
                                        td(colspan='2', style='text-align: right;')
                                            input.button-primary(type='submit', name='display_options_submit', value='Update', aria-label='Update display options submit')
                    .postbox
                        h3
                            - _e('Override CSS', 'academic-bloggers-toolkit')
                        form(method='post', name='custom_css_form')
                            table.form-table
                                tr(valign='top')
                                    td(scope='row', width='50%')
                                        textarea.large-text(name='custom_css', cols='80', rows='20', style='font-family: monospace;', aria-label='Textarea for custom CSS')
                                            != custom_css
                                    td(width='50%', style='vertical-align: top;')
                                        table
                                            tr
                                                th(colspan='2')
                                                    - _e('CSS Selectors used in this plugin', 'academic-bloggers-toolkit')
                                            tr
                                                td
                                                    strong
                                                        - _e('Inline Citations', 'academic-bloggers-toolkit')
                                                td
                                                    code .abt_cite
                                            tr
                                                td
                                                    strong
                                                        - _e('Citation Tooltips', 'academic-bloggers-toolkit')
                                                td
                                                    code .abt-tooltip, .abt_tooltip_arrow, .abt_tooltip_touch_close
                                            tr
                                                td
                                                    strong
                                                        - _e('Bibliography', 'academic-bloggers-toolkit')
                                                td
                                                    code #abt-smart-bib, #abt-smart-bib h3, #abt-smart-bib > div, .abt-url
                                            tr
                                                td
                                                    strong
                                                        - _e('Footnotes', 'academic-bloggers-toolkit')
                                                td
                                                    code #abt-footnote, .abt-footnote-heading, .abt-footnote-item, .abt-footnote-number
                                tr
                                    td(style='font-size: 0.8em; padding-top: 0;')
                                        - _e('Note: If you are already using a child theme to load CSS, place your CSS overrides there. The box above is only a crutch for those who do not have any custom CSS saved yet. Loading CSS this way is very inefficient.', 'academic-bloggers-toolkit')
                                    td(style='text-align: right')
                                        input.button-primary(type='submit', name='custom_css_submit', value='Update', aria-label='Update custom css submit')
                    .postbox
                        h3
                            - _e('How do I', 'academic-bloggers-toolkit')
                            | ...
                        .inside
                            div(style='display: flex; flex-wrap: wrap;')
                                div(style='flex: 1; min-width: 300px; padding: 0 5px;')
                                    strong
                                        - _e('Make my tooltips a different color?', 'academic-bloggers-toolkit')
                                    | <p data-height="300" data-theme-id="dark" data-slug-hash="pboYoZ" data-default-tab="result" data-user="dsifford" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/dsifford/pen/pboYoZ/">pboYoZ</a> by Derek Sifford (<a href="http://codepen.io/dsifford">@dsifford</a>) on <a href="http://codepen.io">CodePen</a>.</p><script async src="//assets.codepen.io/assets/embed/ei.js"></script>
                                div(style='flex: 1; min-width: 300px; padding: 0 5px;')
                                    strong
                                        - _e('Apply style to the bibliography list?', 'academic-bloggers-toolkit')
                                    | <p data-height="300" data-theme-id="dark" data-slug-hash="JKjzGj" data-default-tab="result" data-user="dsifford" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/dsifford/pen/JKjzGj/">Bibliography</a> by Derek Sifford (<a href="http://codepen.io/dsifford">@dsifford</a>) on <a href="http://codepen.io">CodePen</a>.</p><script async src="//assets.codepen.io/assets/embed/ei.js"></script>
