@require 'collections/colors'
@require 'citations'
@require 'collections/reference-list'
@require 'collections/shared'

// @stylint off
.mce-window .mce-window-head .mce-title
.mce-window-head .mce-title
    font-weight: 500 !important

h1, h2, h3, h4, h5, h6
    font-weight: 500

.is-focused:not(.is-open) > .Select-control
    border-color: $border !important
    box-shadow: none !important

.VirtualizedSelectFocusedOption
    background-color: $light-gray !important

#wp-content-editor-tools
    z-index: 5 !important

span#HW_badge_cont
    display: inline-block !important
    height: auto !important
    top: -2px
    line-height: 1.4em
    span#HW_badge
        position: relative
        top: 0
        &.HW_softHidden
            top: 5px

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in[role='dialog']
    background: transparent !important
    box-shadow: none !important
    height: 100vh !important
    .mce-container-body.mce-window-body.mce-abs-layout
        height: 100vh !important

.mce-container[role='alertdialog'] .mce-container-body .mce-widget
    overflow: hidden
// @stylint on
