body {
    overflow: hidden;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.manual-input-table {
    width: 100%;
    input {
        width: 100%;
    }
}

.btn {
    background: #f7f7f7;
    border-color: #ccc;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #ccc;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 31px;
    margin: 0;
    padding: 0 12px 2px;
    vertical-align: top;
    white-space: nowrap;
    -webkit-appearance: none;

    &:hover {
        background: #fafafa;
        border-color: #999;
        color: #23282d;
    }

    &:active {
        background: #eee;
        border-color: #999;
        box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
        transform: translateY(1px);
        outline: 0;
    }

    &:disabled {
        color: #a0a5aa;
        border-color: #ddd;
        background: #f7f7f7;
        box-shadow: none;
        text-shadow: 0 1px 0 #fff;
        cursor: default;
        transform: none;
    }
}

.submit-btn {
    @extend .btn;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;

    &:hover {
        background: #008ec2;
        border-color: #006799;
        color: #fff
    }

    &:active {
        background: #0073aa;
        border-color: #006799;
        box-shadow: inset 0 2px 0 #006799;
        vertical-align: top;
    }

    &:disabled {
        background: #008ec2;
        color: #66c6e4;
        border-color: #007cb2;
        text-shadow: 0 -1px 0 rgba(0,0,0,.1);
        cursor: default;
    }
}

input, select {
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    height: 31px;
    transition: 50ms border-color ease-in-out;
    margin: 1px;
    padding: 5px;
    font-size: 1em;

    &:focus {
        border-color: #5b9dd9;
        box-shadow: 0 0 2px rgba(30, 140, 190, .8);
        &:invalid {
            box-shadow: 0 0 2px rgba(204,0,0,.8);
            border-color: #dc3232!important;
        }
    }

    &[type="checkbox"] {
        height: 18px;
        width: 18px;
        vertical-align: middle;
    }

    &:invalid {
        background: #f6c9cc;
        color: #dc3232;
        border: solid #E58383 1px;
    }

}

select {
    padding: 2px;
    vertical-align: middle;
    margin: 1px;
    font-size: 1em;
}

a {
    color: #0073aa;

    &:hover {
        color: #00a0d2;
    }
}

kbd {
    font-family: monospace;
    padding: 2px 7px 3px;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
    background: #eaeaea;
    background: rgba(0,0,0,.08)
}
